/*primeraPágina*/

*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
}

/*textoEsquinas*/
.textizquierda{
    color: rgb(209, 98, 209);
    position: fixed;
    font-size: 14px;
    letter-spacing:-2px;
    writing-mode: vertical-lr; /* Escritura vertical de izquierda a derecha */
    text-orientation: upright; /* Orientación del texto vertical */
    padding: 5px;
    top: 393px;
    left: 15px;
    z-index: 1000;
    }
.textderecha{
    color: rgb(209, 98, 209);
        position: fixed;
        font-size: 14px;
        letter-spacing:-2px;
        writing-mode: vertical-lr; /* Escritura vertical de izquierda a derecha */
        text-orientation: upright; /* Orientación del texto vertical */
        padding: 5px;
        top: 388px;
        left: 1300px;
        z-index: 1000;
}
.secc{
    background-color: black;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav a{
    text-decoration: none;
}

/*logo*/
.logo{
    color: white;
    font-size: 38px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform .4s;
}
.logo:hover{
    transform: scale(1.2);
    color: #f9004d;
}
span{
    color: #f9004d;
}
span:hover{
    color: white;
}

/*atajos*/
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transform: .4s;
}

/*botonIncribirse*/
.subs{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.subs:hover{
    background-color: aliceblue;
    color: #f9004d;
}

/*informacionPersonal*/
.contenido{
    position:absolute;
    top: 35%;
    left: 14%;
    transform: translate(-50);
}   
h4{
    color:#f9004d;
    letter-spacing: 2px;
    font-size: 25px;
}
h1{
    color:white;
    margin:20px -50px 20px;
    font-size: 75px;
}
h3{
    color:#f9004d;
    font-size: 25px;
    margin-bottom: 25px;
}

/*botonBusqueda*/
.buscar {
    position: absolute;
	left: 145%;
	top: 80%;
	transform: translate(-50%,-50%);
	padding: 10px;
}
input {
	outline: none;
	box-sizing: border-box;
	height: 60px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 3px solid #f9004d;
	transition: all .7s ease;
}
::placeholder {
	color: black;
}
.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 80px;
	height: 80px;
	background: #f9004d;
	line-height: 80px;
	border-radius: 50%;
	text-align:center;
	cursor: pointer;
	transition: .5s;
}
.btn i {
	font-size: 25px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;
}
.buscar:hover input {
	width: 200px;
}
.buscar:hover i{
	transform: rotate(-360deg);
}
.filtro{
    display: none;
}

/*segunaPagina*/

.about{
    height: 90vh;
    width: auto;
    padding: 80px 0px;
    background-color: black;
}
.about img:hover{
    border-width: 7px;
    border-style: solid;
    border-color: #000000;

}
.about img{
    height: auto;
    width: 300px;
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(189, 13, 180))
}
.about img:hover{
    filter: opacity(10) drop-shadow(0 0 0 rgb(238, 14, 137))
}

.about img:hover{
    transform: scale(1.1);
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color:white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
h2 small{
    color:#f9004d;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;

}

.about-text p{
    color:rgb(209, 98, 209);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color:white ;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight:bold ;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}


/*tercera pagina*/
.service{
    background-color: black;
    width: 100%;
    padding: 1px 0px;
}

.titulo h2{
    color: white;
    font-size: 40px;
    width: 1130px;
    margin:30px auto ;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(19, 19, 19);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
}
.parrafo p{
    color: rgb(209, 98, 209);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: #f9004d;
    color:white ;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight:bold ;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}

/*ultima pagina*/

.contactame{
    width: 100%;
    height: 280px;
    background-color:rgb(19, 19, 19);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contactame p{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contactame .botton-two{
    background-color: #f9004d;
    color:white ;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight:bold ;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contactame .botton-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}


/*final*/
footer{
    position: relative;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color:white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.redes{
    display: flex;
}
.redes a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.redes a:hover{
    transform: scale(1.3);
    transition: .3s;

}